.budgetCategoryList {
  margin-top:25px;
  margin:25px;
}
.budgetSubtitle{
  margin-top:20px;
  margin-left: 5px;
}
.budgetToolbar {
  display:flex;
  flex:1;
  justify-content: space-between;
}
.createBudgetButton {
  padding:8px;
  margin-bottom: 10px;
  font-size: 0.8em;
  background-color: #207178;
  border-radius: 4px;
  cursor:pointer;
  margin-right: 15px;
}
.createBudgetButton:hover {
  background-color:#057070;
}
.budgetToolbarContainer {
  display:flex;
  align-items: flex-end;
}
.budgetForm {
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newBudgetButton{
}
.noBudgetsWarning {
  display:flex;
  margin-top: 20%;
  justify-content: center;
}
