@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
* {
  margin: 0;
}
.mainContainer {
  display: flex;
  position: relative;
  height: 100vh;
  font-family: "Quicksand";
}
.containerToolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.addContsumptionModal {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
}
.addContsumptionModal:focus {
  outline: none;
}
.mainContainerContent {
  width: 100%;
  padding-left:15px;
}
.categoryIconSmall {
  height: 21px;
  width: 21px;
}
.editIconSmall {
  height: 18px;
  width: 18px;
  opacity: 0.6;
  cursor: pointer;
}
.editIconSmall:hover {
  opacity: 1;
}
.topBarFilters {
  display: flex;
  align-items: center;
  padding: 10px;
}
.listCategoryItem {
  display: flex;
  align-items: center;
}
.dashboard {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: 10px;
}
.consumptionsCategoryList {
  padding:25px;
}
.categoryFilter{
  width: 200px;
  margin-left:15px;
}
.monthFilter{
  width: 130px;
  margin-left:25px;
}
.yearFilter{
  width: 75px;
  margin-left:25px;
}
.clearFilter{
  margin-left:25px;
  font-size: 10px;
}
.clearFilter:hover{
  margin-left:25px;
  cursor: pointer;
  outline: none;
  color: #a1a199;
  font-size: 10px;
}