@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
*{
    margin: 0;
}
.mainContainer {
  display:flex;
  flex:1;
  justify-content: center;
  font-family: 'Quicksand';
}
.containerToolbar {
  display:flex;
  flex:1;
}
.containerTopBarTitle {
  padding:10px;
}
.containerTopBar {
  display: flex;
  flex-direction:row;
  flex:1;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  border-bottom:1px solid #ccc;
}
.addContsumptionModal {
  display:flex;
  align-items:center;
  justify-content: center;
  border:0px;
}
.addContsumptionModal:focus {
  outline:none;
}
.mainContainerContent {
  min-width:800px;
}
.skrillaTopBarLogo {
  height:60px;
  width:60px;
  border-radius: 60px;
    opacity:0.5;
}
.skrillaTopBarLogo:hover {
  opacity:0.7;
}
