@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
*{
    margin: 0;
}
.mainContainer {
  display:flex;
  flex:1;
  justify-content: center;
  font-family: 'Quicksand';
  margin-left: 70px;
  margin-right: 70px
}
.containerToolbar {
  display:flex;
  flex:1;
  justify-content:space-between;
  align-items: center;
}

.addContsumptionModal {
  display:flex;
  align-items:center;
  justify-content: center;
  border:0px;
}
.addContsumptionModal:focus {
  outline:none;
}
.mainContainerContent {
  min-width:800px;
}
.categoryIconSmall{
height:21px;
width:21px;
}
.editIconSmall {
  height:18px;
  width:18px;
  opacity:0.6;
  cursor:pointer;
}
.editIconSmall:hover {
  opacity:1
}
.topBarFilters {
    display:flex;
    align-items: center;
    padding:10px;
}
.listCategoryItem {
  display:flex;
  align-items:center;
}
