.titleChart {
    margin-bottom: 5px;
}
.barChart {
    font-size: smaller;
}
.noChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addCons {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 10%;
    cursor: pointer;
  }
  .addCons:hover {
    cursor: pointer;
    outline: none;
    color: #9fa090;
  }
  .addCons:focus {
    outline: none;
  }